
@{
    ViewData["Title"] = "Contato";
}

<main role="main">
    <br />
    <br />
    <div class="container">
        <div class="row">
            <aside class="col-md-6">
                <h4 class="subtitle-doc">
                    Outros contatos
                </h4>
                <div id="code_desc_simple">
                    <div class="box">
                        <dl>
                            <dt>Devolução/Garantia: </dt>
                            <dd>devolucao@lojavirtual.com.br</dd>
                        </dl>
                        <dl>
                            <dt>Televendas: </dt>
                            <dd>(61) 4000-2000</dd>
                        </dl>
                        <dl>
                            <dt>SAC:</dt>
                            <dd>sac@lojavirtual.com.br</dd>
                        </dl>
                    </div> <!-- box.// -->
                </div> <!-- code-wrap.// -->
            </aside>
            <aside class="col-sm-6">

                <h4 class="subtitle-doc">
                    Contato
                </h4>
                <div>
                    <article class="card">
                        <div class="card-body p-5">
                            @if (ViewData["MSG_SUCESSO"] != null)
                            {
                                <p class="alert alert-success">@ViewData["MSG_SUCESSO"]</p>
                            }
                            @if (ViewData["MSG_ERRO"] != null)
                            {
                                <p class="alert alert-danger" >@ViewData["MSG_ERRO"]</p>
                            }
                            <form role="form" method="post" action="/Home/ContatoAcao">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" id="nome" class="form-control" name="nome" placeholder=""
                                               required="">
                                    </div> <!-- input-group.// -->
                                </div> <!-- form-group.// -->

                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-at"></i></span>
                                        </div>
                                        <input type="text" id="email" class="form-control" name="email" placeholder="">
                                    </div> <!-- input-group.// -->
                                </div> <!-- form-group.// -->

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="texto">
                                                <span class="hidden-xs">
                                                    Texto
                                                </span>
                                            </label>
                                            <div class="form-inline">
                                                <textarea class="form-control" name="texto" id="texto" style="width:100%" placeholder=""></textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- row.// -->
                                <button class="subscribe btn btn-primary btn-block" type="submit">
                                    Enviar <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                                    </svg>
                                </button>

                            </form>
                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->

                </div> <!-- code-wrap.// -->

            </aside>
        </div>
    </div>
</main>

